 <h2> the posts are saving to the database but I dont dispay them </h2>
 
 
 <!-- <span *ngIf = "(authService.user | async)?.uid">
    <div class="example-button-row">
        
      </div>
      <p *ngIf="!(posts$ | async)">loading Posts...</p>
      <mat-accordion >
          <mat-expansion-panel *ngFor = "let post of posts$ | async">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{post.title}}
              </mat-panel-title>
            </mat-expansion-panel-header> 
              {{post.body}}
              <button mat-raised-button 
                      color="primary"
                      (click) = deleteGeneral(general.id)>
                Delete
              </button> 
              <button 
              mat-raised-button color="primary"
              [routerLink]="'/generalform/'+general.id">
                Edit
              </button>        
          </mat-expansion-panel>
        </mat-accordion>
      </span> 
       -->
