<!--this form displays data from json-->

<div ng-controller="myCtrl">
 <!-- <p>{{ans}}</p>-->
</div>   
<mat-accordion>
    <mat-expansion-panel *ngFor = "let main of mains$">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{main.title}}, Post No  {{main.id}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      
      <!-- <button 
      mat-raised-button color="primary"
      [routerLink]="'/mains/'" (click)="postFunc(main.title,main.body)">
        Save
      </button> -->

      
      <h4 *ngIf = "main.id == postid">{{text}}</h4>
      <h3>Body:</h3>{{main.body}} 
      <h3>Comments:</h3>
      <div *ngFor="let com of comments$">
         <div *ngIf = "com.postId == main.id;other"><br> {{com.body}}</div>
      </div> 
    


    </mat-expansion-panel>

   
  </mat-accordion>

  