
<mat-accordion >
    <mat-expansion-panel *ngFor = "let article of articles$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div mat-card-avatar *ngIf = "article.image"> 
            <img [src] = "article.image"> 
         </div>
          {{article.category}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
       {{article.body}} 
        <button mat-raised-button 
                color="primary"
                (click) = deleteArticle(article.id)>
          Delete
        </button> 
       <!-- <button 
        mat-raised-button color="primary"
        [routerLink]="'/generalform/'+general.id">
          Edit
        </button>      -->  
    </mat-expansion-panel>
  </mat-accordion>


