<h1> Welcome </h1>
<!-- <span *ngIf = "(authService.user | async)?.uid">
<div class="example-button-row">
    <button 
       mat-raised-button color="primary"
       [routerLink]="'/generalform'">
       Add general
    </button>
  </div>
  <p *ngIf="!(generals$ | async)">loading mainss...</p>
  <mat-accordion >
      <mat-expansion-panel *ngFor = "let main of mains$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{main.title}}, Post No  {{main.id}}
          </mat-panel-title>
        </mat-expansion-panel-header> 
        {{main.body}} 
          <button mat-raised-button 
                  color="primary"
                  (click) = deleteGeneral(general.id)>
            Delete
          </button> 
          <button 
          mat-raised-button color="primary"
          [routerLink]="'/generalform/'+general.id">
            Edit
          </button>        
      </mat-expansion-panel>
    </mat-accordion>
  </span> -->
